[submodule "pad-applicant-service"]
	path = pad-applicant-service
	url = https://github.com/georgerabus/pad-applicant-service
[submodule "pad-credential-service"]
	path = pad-credential-service
	url = https://github.com/georgerabus/pad-credential-service
[submodule "pad-moderation-service"]
	path = pad-moderation-service
	url = https://github.com/augustin-ploteanu/moderation-service
[submodule "pad-player-service"]
	path = pad-player-service
	url = https://github.com/catalinacs/pad-player-service
[submodule "pad-server-moderation-session-service"]
	path = pad-server-moderation-session-service
	url = https://github.com/catalinacs/pad-server-moderation-session-service
[submodule "pad-server-rules-service"]
	path = pad-server-rules-service
	url = https://github.com/loredanaahsl/pad-server-rules-service.git
[submodule "pad-university-record-service"]
	path = pad-university-record-service
	url = https://github.com/loredanaahsl/pad-university-record-service.git
[submodule "pad-dm-service"]
	path = pad-dm-service
	url = https://github.com/augustin-ploteanu/dm-service
